.stats_card {
  background-color: #2c118f;
  color: white;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;

  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1rem;
  }

  span {
    font-size: 4rem;
    line-height: 1rem;
  }
}
